body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

input, button, select {
  padding: 10px;
  margin: 5px;
}

.hidden {
  display: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  gap: 10px;
  justify-content: center;
  margin: 20px;
}

.cell {
  background: white;
  height: 90px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

#chat {
  background: white;
  height: 120px;
  overflow-y: auto;
  margin: 10px;
  padding: 5px;
}
